.notifications {
    position: absolute;
    top: 80px;
    right: 10px;
}

.section {
    overflow-y: scroll;
}

@media (max-width: 684px) {
    .section {
        /* display: block; */
        width: 100vh;
        height: 20vh !important;
        overflow-y: scroll;
        position: absolute;
        right: -10px;
        top: -20px;
        ;
    }
    .not-title {
        display: none !important;
    }
    .notUL {
        height: 0;
        width: 100%;
        left: 14%;
        position: absolute;
        top: -5%
    }
    .notCard {
        height: 50vh !important;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
    }
}