html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

form {
    padding: 20px;
    margin-top: 60px;
}

form button,
form h5 {
    margin: 20px 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #ec407a;
    box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type="email"]:not(.browser-default):focus:not([readonly])+label,
input[type="password"]:not(.browser-default):focus:not([readonly])+label {
    color: #ec407a !important;
}

.done {
    text-decoration: line-through;
    color: red;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

@media (min-width: 684px) and (max-width: 894px) {
    .dashboard {
        position: absolute;
        left: -30px;
    }
}

@media (max-width: 684px) {
    .dashboard {
        margin-top: 70px;
    }
}